.fandom-card {
  /* display: inline-block; */
  height: 300px;
  margin: 3%;
  float: left;
  width: 18%;
  
  border-radius: 8px;
}

.fandom-card img {
  margin: 15px 0 10px 0;
  height: 140px;
  width: 115px;    
}

.fandom-card .minus {
  margin: 5px 10px 0 0;
}
.squad-button{
  margin: 0px 10px 0 90px
}